* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sitename {
    text-align: center;
    font-size: 2.5em;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
}

button {
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    /* Adjust padding as needed */
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-color: #007bff;
    /* Blue background color */
    color: #fff;
    /* White text color */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #f2f2f2;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

}


.checkout-button {
    text-align: right;
    margin-bottom: 1rem;
}

.card {
    width: calc(33.33% - 2rem);
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .card-body {
    padding: 1rem;
}

.card .card-body p {
    margin-bottom: 0.5rem;
}